body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  min-height: 100vh;
}

#pic {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
